# media folder
MEDIA_PATH="path/to/media/folder"

# timezone
TIMEZONE="TZ=Europe/Rome"

# VPN settings
VPN_ZONE="italy"
VPN_USER="username"
VPN_PASS="psw"
LOCAL_SUBNET="192.168.1.0/24"

# HOST settings
PUID=1000
PGID=1000
HOST_IP="192.168.1.62"

# QBIT settings
# credentials after first password placed in log
QBT-USER="admin"
QBT-PSW="adminadmin"